/* CreateAuditorProjectForm.css */
 .auditor-project-form-container {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
/* Styles for form groups */
 .form-group {
    margin-bottom: 15px;
  }
  
/* Styles for labels */
 label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Styles for input and select elements */
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Styles for buttons */
  Button {
    margin-top: 10px;
  }
  
  /* Styles for success message */
  .success-message {
    color: black;
    margin-top: 10px;
    background-color: green;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
  }
  