/* CreateUserForm.css */

.user-form-container {
  /* Container styles */
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  /* Style for form group */
  margin-bottom: 15px;
}

label {
  /* Label styles */
  display: block;
  margin-bottom: 5px;
}

input,
select {
  /* Input and select styles */
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
}

Button {
  /* Button styles */
  margin-top: 10px;
}

.success-message {
  /* Success message styles */
  color: black;
  margin-top: 10px;
  background-color: green;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
}
