.left-navbar {
  width: 200px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  height: auto;
  font-family: 'Arial', sans-serif;
}

.left-navbar ul {
  list-style: none;
  padding: 0;
}

.left-navbar li {
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  transition: background-color 0.3s ease;
  
}

.left-navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;

}

.left-navbar li:hover {
  background-color: #ddd;
  border-radius: 2px;
}

.add {
  background-color: rgba(38, 112, 144, 0.1);
  color: #265c90;
}

