.left-navbar {
    width: 200px;
    background-color: #fff;
    border:1px solid grey;
    padding: 20px;
    height:100vh;
    

  }
  
  .left-navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .left-navbar li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding: 10px 100px 10px 10px;
    text-align: left;


  }
  
  .left-navbar a {
    text-decoration: none;
    color: black;
    
  }
  .left-navbar li:hover {
    background-color: rgb(144, 144, 144);
    border-radius: 2px;
  }
 
  .add{
    background-color: rgba(38, 112, 144, 0.199);
    color:black;
  }
  
  .projectmanager{
    width: 800px;
    position: right;
  }