/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: black;
    border-bottom: 20px solid rgb(169, 166, 166);
  }
  
  .logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    border-radius:8px;
  }
  
  .customer-support {
    font-size: 18px;
    font-weight: bold;
    padding:5px
  }
  
  .search-bar {
    flex: 1;
    margin: 0 10px;
    padding-left: 10%;
  }
  
  .search-bar input {
    width: 75%;
    padding: 8px;
    height:25px;
    border-radius:5px;
  }
  
  .login-button button,.logout-button button {
    padding: 8px 16px;
    margin-left:16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  