/* Navbar.css */

/* Styles for the main navigation bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  color: black;
  border-bottom: 20px solid rgb(169, 166, 166);
}

/* Styles for the logo in the navigation bar */
.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  border-radius: 8px;
}

/* Styles for the customer support text */
.customer-support {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/* Styles for the search bar */
.search-bar {
  flex: 1;
  margin: 0 10px;
  padding-left: 10%;
}

/* Styles for the search input field */
.search-bar input {
  width: 75%;
  padding: 8px;
  height: 20px;
  border-radius: 5px;
}

/* Styles for the login and logout buttons */
.login-button button,
.logout-button button {
  padding: 8px 16px;
  margin-left: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

